* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

input {
    outline: none;
    font-family: inherit;
}

button {
    outline: none;
    border: none;
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

::placeholder {
    color: #ccc;
}

.heading {
    text-align: center;
}

.flex-container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
}

.input-container {
    width: 85%;
    margin: 1rem auto;
    position: relative;
}

.todo-input {
    width: 100%;
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
    border: 1px solid #4fd214;
    border-radius: 26px;
}

.todo-input:focus {
    border-color: #4fd214;
}

.add-button {
    background-color: #eee;
    font-size: 1.3rem;
    color: #4fd214;
    border: 1px solid #4fd214;
    border-radius: 26px;
    padding: 0.3rem 1rem;
    position: absolute;
    right: -2px;
    top: 0;
    z-index: 10;
    transition: 0.3s;
}

.add-button:hover {
    background-color: #4fd214;
    color: #eee;
}

.item-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item {
    background-color: #ddd;
    width: 100%;
    padding: 0.7rem 1.5rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.todo-item__buttons button {
    background-color: #ddd;
}

.todo-item__buttons button:hover i {
    opacity: 0.5;
}

.todo-item__buttons button i{
    background-color: #ddd;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.todo-item__buttons--done {
    color: #4fd214;
}

.todo-item__buttons--edit {
    color: #10a3e7;
}

.todo-item__buttons--delete {
    color: #f51a34;
}
